# Collection of Data Structures types:
1. List
2. Tuple
3. Set
4. Dictionary

# List :
- One of the data structures in python

- Data Structures means to store,sort and search options

- Its one common data structure in python,the items of list separated by comma and enclosed by square brackets

- list will have a positive index and a negative index


## Example :

- list1=[1,2,3,4]

- list2=["gitam",1,2,3]

In [1]:
li = [1,2,3,4,5,6,7,8,9,10]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
li = [1,2,3,4,5,6,7,8,9,10]
print(li)
print(li[2])
print(li[-4])
print(li[3:])
print(li[3:9])
print(li[-6:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3
7
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]

In [11]:
li = ["gitam",1234,1235,1236,"hyd"]
print(li)
print(li[0][2])

['gitam', 1234, 1235, 1236, 'hyd']
t

In [12]:
del li[3]
print(li)

['gitam', 1234, 1235, 'hyd']

In [13]:
# Update
li[1]=123
print(li)

['gitam', 123, 1235, 'hyd']

In [18]:
# Basic List Functions
li = [1,9,116,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

116
1
156
5
31

In [25]:
li = [1,9,116,25,5,9]
li.append(89)
li.insert(2,56)
print(li)

[1, 9, 56, 116, 25, 5, 9, 89]

In [26]:
li.count(9)

2

In [27]:
li.index(5)

5

In [29]:
li.sort()
print(li)

[1, 5, 9, 9, 25, 56, 89, 116]

In [30]:
li.pop()
print(li)

[1, 5, 9, 9, 25, 56, 89]

In [31]:
li.pop(1)
print(li)

[1, 9, 9, 25, 56, 89]

# Delete

- delete the list item from the list

## Pop

- remove last index value

### Pop(index)

- removes the item from specified index

In [35]:
li = [1,9,116,25,5,9]
li1 = [76,78,79]
li.extend(li1)
li.reverse()
li

[79, 78, 76, 9, 5, 25, 116, 9, 1]

In [37]:
# Function to return the large number from the given list
def largenum(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,45,76]
print(largenum(li))
print(genericlarge(li,3))

76
25

In [43]:
# Function to return the small number from the given list
def smallnum(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[1]
li = [19,1,25,45,76]
print(smallnum(li))
print(genericsmall(li,3))

1
19

# Tuple

- Its one common data structure in pyhton,the items are separated by comma and enclosed by paranthesis()


# Example

- li = (1,2,3,4)

## List and Tuple :

- List are mutable - can be changed / modiied

- list used to modify,add,delete,update




- Tuples are immutable - cannot be changed

- Tuple is used to access data only

In [44]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

# Dictionaries :

- It works on concept of set unique data

- Dictionary contains Keys and Values

- Each Key and Value separated by comma

- Each key is separated from its values with colon(:)

- Dictionary values are enclosed in flower brackets

In [48]:
d1 = {"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1

{'name': 'gitam', 'email': 'gitam@in', 'address': 'hyderabad'}

In [49]:
d1["name"]

'gitam'

In [50]:
d1['name'] = 'charan'
d1

{'name': 'charan', 'email': 'gitam@in', 'address': 'hyderabad'}

In [51]:
d1['rollno'] = '221710311037'
d1

{'name': 'charan',
 'email': 'gitam@in',
 'address': 'hyderabad',
 'rollno': '221710311037'}

In [52]:
del d1['email']
d1

{'name': 'charan', 'address': 'hyderabad', 'rollno': '221710311037'}

In [53]:
d1.keys()

dict_keys(['name', 'address', 'rollno'])

In [54]:
d1.values()

dict_values(['charan', 'hyderabad', '221710311037'])

In [55]:
d1.items()

dict_items([('name', 'charan'), ('address', 'hyderabad'), ('rollno', '221710311037')])

# Strings :

In [57]:
s1 = "python"
print(s1)
print(type(s1))

python
<class 'str'>

In [69]:
s1 = "python"
print(s1[0])
print(s1[1])
print(s1[2])
print(s1[3])
print(s1[4])
print(s1[5])
print(len(s1)-2)
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::1])
print(s1[::2])
print(s1[::3])
print(s1[::-1])

p
y
t
h
o
n
4
o
ytho
h
python
pto
ph
nohtyp

# String Built in Methods :

- Upper

- Lower

- islower

- isupper

- istitle

- isnumeric

- isalpha

- isspace

In [70]:
s1 = 'Python'
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())

PYTHON
python
False
False
True
False
True

In [74]:
s1 = "what how why"
print(s1.isspace())

False

# String Methods :

- join()

- split()

- replace()

In [75]:
s1 = "python"
print("   ".join(s1))

p   y   t   h   o   n

In [76]:
s1 = "python"
print(" ,  ".join(s1))

p ,  y ,  t ,  h ,  o ,  n

In [77]:
s1 = "python"
print(" ->  ".join(s1))

p ->  y ->  t ->  h ->  o ->  n

In [79]:
s1 = "python is easy to learn"
print(s1.split())

['python', 'is', 'easy', 'to', 'learn']

In [82]:
s1 = "python is easy to learn"
print(s1.replace("easy",'good'))

python is good to learn